<?xml version="1.0" encoding="utf-8"?>
<!--
  Configuration Web ASP.NET pour l'application Devis
-->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
    <!-- IMPORTANT : Modifier cette chaîne de connexion selon votre environnement -->
    <add name="DefaultConnection"
         connectionString="Data Source=VOTRE_SERVEUR;Initial Catalog=VOTRE_BASE;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.8" maxRequestLength="10240" executionTimeout="300" />

    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
      </namespaces>
    </pages>

    <customErrors mode="Off" />

    <sessionState mode="InProc" timeout="60" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="60" />
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>

    <globalization culture="fr-FR" uiCulture="fr-FR" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>

    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <defaultDocument>
      <files>
        <clear />
        <add value="Devis.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
